$color-neutral-white: #f4f4f4;

$color-grey-10: #e0e0e0;
$color-grey-30: #aeaeae;
$color-grey-90: #121212;

$color-cool-grey-10: #dfe9e9;
$color-cool-grey-20: #c8d2d2;
$color-cool-grey-40: #959f9f;
$color-cool-grey-60: #5a6464;
$color-cool-grey-70: #3c4646;
$color-cool-grey-80: #323c3c;
$color-cool-grey-90: #0d1111;

$color-blue-50: #4178BE;
$color-blue-60: #325C80;
$color-cerulean-60: #175D8D;

$color-green-20: #B4E051;
$color-green-40: #5AA700;
$color-green-60: #2D660A;
$color-lime-50: #5B8121;

$color-red-50: #E71D32;
$color-red-60: #AD1625;

$color-teal-30: #41D6C3;
$color-teal-50: #008571;
$color-teal-80: #0C373C;
$color-aqua-70: #0E5158;

$color-yellow-30: #EFC100;
$color-yellow-50: #8C7300;
