$font-thin: IBMPlexSans-Thin;
$font-thin-italic: IBMPlexSans-ThinItalic;
$font-extra-light: IBMPlexSans-ExtraLight;
$font-extra-light-italic: IBMPlexSans-ExtraLightItalic;
$font-light: IBMPlexSans-Light;
$font-light-italic: IBMPlexSans-LightItalic;
$font-regular: IBMPlexSans-Regular;
$font-text: IBMPlexSans-Text;
$font-text-italic: IBMPlexSans-TextItalic;
$font-medium: IBMPlexSans-Medium;
$font-medium-italic: IBMPlexSans-MediumItalic;
$font-semi-bold: IBMPlexSans-SemiBold;
$font-semi-bold-italic: IBMPlexSans-SemiBoldItalic;
$font-bold: IBMPlexSans-Bold;
$font-bold-italic: IBMPlexSans-BoldItalic;
