<!--<div id="fh5co-wrapper">-->
  <!--<div id="fh5co-page">-->
    <!--<div id="fh5co-header">-->
      <!--<div class="top">-->
        <!--<div class="container">-->
          <!--<span> <a href="#"><i>@</i> info@bdasyatem.co</a></span>-->
          <!--<span> <a href="tel://+12345678910"><i class="icon-mobile3"></i> 123 4567 8910</a></span>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash; end:top &ndash;&gt;-->
      <!--<header id="fh5co-header-section">-->
        <!--<div class="container">-->
          <!--<div class="nav-header">-->
            <!--<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>-->
            <!--<h1 id="fh5co-logo"><a routerLink="../homepage" (click)="toggleState()">BDA-System</a></h1>-->
            <!--&lt;!&ndash; START #fh5co-menu-wrap &ndash;&gt;-->
            <!--<nav id="fh5co-menu-wrap" role="navigation">-->
              <!--<ul class="sf-menu" id="fh5co-primary-menu">-->
                <!--<li><a routerLink="../infopage" (click)="toggleState()">About</a></li>-->
                <!--<li><a href="#">Blog</a></li>-->
                <!--<li><a routerLink="../contactpage" (click)="toggleState()">Contact</a></li>-->
              <!--</ul>-->
            <!--</nav>-->
          <!--</div>-->
        <!--</div>-->
      <!--</header>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<div>
<nav  class="navbar navbar-default navbar-static-top">
  <div  class="container">
    <div class="navbar-header">
      <img src="../../assets/img/iicons1.png" class = "icon">
      <a  routerLink="../login" (click)="toggleState()" class="navbar-text">
        BDA-System
      </a>
    </div>
    <div
      id="navbar"
      class="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a>{{'[ ' + name + ' ]'}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</div>
