img {
  width: 60px ;
  height: 60px;
  fill: #20c997;
}

.navbar
{
  background-color: #563d7c;
  min-height:50px;
  margin-bottom:0}

.navbar-text
{font-family:'Pacifico', cursive;
  font-size:28px;
  color:#FFFFF0;
  margin-left:15px}


.nav-link{
  font-family:'Spectral SC', serif;
  font-size:18px;
  color:white;
}






