<div>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <img src="../../assets/img/iicons1.png" class="icon">
        <a routerLink="../homepage" class="navbar-text">
          BDA-System
        </a>
      </div>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" routerLink="../homepage">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="../infopage">Информация</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="../report-page">Создать отчет</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="../contactpage">Контакты</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
