<div class="container">
  <div class="contacts_area">
    <div class="breadcrumb">
      <a class="breadcrumb-item" routerLink="/homepage">Главная</a>
      <a class="breadcrumb-item" routerLink="/infopage">Информация</a>
      <span class="breadcrumb-item active">Контакты</span>
    </div>
    <div class="row">
      <div class="contacts_row col-sm-6">
        <h1 class="h1"> Контакты </h1>
        <span class="h3">Телефон/факс:
        <br>+375 17 270–04–00
        <br>
      </span>
        <span class="txt_big">
        <a href="mailto:info@st.by">info@bda-system.by</a><br>
      </span>
        <span class="txt_big">
        <b>Расположение офиса:  </b>
        <br>
          ул. Кульман, 24,
        <br>
          4-ый этаж
        <br>
        220141, Минск, Республика Беларусь&nbsp;
      </span>
      </div>
      <div class="col-sm-6">
        <iframe
          src="https://yandex.com/map-widget/v1/?um=constructor%3A3271adad4a79a9ef9398a82e8aabe4f2fa1feedaf338a47cc9b6b0b1d79f1e59&amp;source=constructor"
          width="100%" height="350" frameborder="0"></iframe>
      </div>
    </div>
  </div>
</div>


