<!--<div class="welcome">-->
<carousel class="slider">
  <slide>
    <img src="./assets/img/10.jpg" alt="First slide">
    <div class="carousel-caption d-none d-md-block">
      <h3>Анализ кредитных показателей</h3>
      <p>Сравнение количества выданных кредитов клиентам</p>
    </div>
  </slide>
  <slide>
    <img src="./assets/img/7.jpg" alt="Second slide">
    <div class="carousel-caption d-none d-md-block">
      <h3>Анализ прибыли банков</h3>
      <p>Сравнение прибыли банков по периодам</p>
    </div>
  </slide>
  <slide>
    <img src="./assets/img/8.jpg" alt="Third slide">
    <div class="carousel-caption d-none d-md-block">
      <h3>Анализ собственного капитала банков</h3>
      <p>Сравнение собственного капитала банков по периодам</p>
    </div>
  </slide>
</carousel>
<!--</div>-->
<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-6">
      <img class="rounded-circle" src="../assets/img/2.jpg" alt="Generic placeholder image">
      <h2>{{create.title}}</h2>
      <p>{{create.description}}</p>
      <p><a routerLink="../report-page" class="btn btn-default" role="button">{{ create.action }}</a></p>
    </div>
    <div class="col-lg-6">
      <img class="rounded-circle" src="../assets/img/3.jpg" alt="Generic placeholder image">
      <h2>{{about.title}}</h2>
      <p>{{about.description}}</p>
      <p><a routerLink="../infopage" class="btn btn-default" role="button">{{about.action }}</a></p>
    </div>
  </div>


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Белинвестбанк. <span class="text-muted">Наш первый клиент</span></h2>
      <p class="lead"> Подготовка отчетности проводится по принципу трансформации учетных данных, полученных в
        соответствии с национальными стандартами бухгалтерского учета и отчетности. </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" alt="500x500"
           style="width: 600px; height: 400px;" src="../assets/img/bl.jpg" data-holder-rendered="true">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Белагропромбанк. <span class="text-muted">Наш второй клиент.</span></h2>
      <p class="lead">Продукт обеспечивает «Быстрый старт» проектам по построению отчетно-аналитической системы на базе
        корпоративного хранилища данных, позволяет заложить основы единого информационного пространства банка и
        почувствовать выгоды от использования корпоративного хранилища данных.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" alt="500x500"
           src="../assets/img/bel.jpg" data-holder-rendered="true" style="width: 600px; height: 400px;">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">МТБанк. <span class="text-muted">Наш третий клиент.</span></h2>
      <p class="lead">Управленческий учет и отчетность — система для покрытия потребности банков в части организации
        управленческого учета и отчетности, а также предоставления сводной информации о деятельности банка для
        топ-менеджмента.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" alt="500x500"
           src="../assets/img/mtb.jpg" data-holder-rendered="true" style="width: 600px; height: 400px;">
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Альфа-Банк. <span class="text-muted">Наш четвертый клиент.</span></h2>
      <p class="lead">Системы аналитики для банков играют ключевую роль при организации и планировании работы.
        Аналитические платформы помогают руководителям принимать взвешенные управленческие решения, исходя из имеющейся
        информации..</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"
           src="../assets/img/alf.jpg" data-holder-rendered="true" style="width: 600px; height: 400px;">
    </div>
  </div>
  <!--<ul class="pager">-->
  <!--<li class="previous">-->
  <!--<a routerLink="../login">&larr; Назад</a>-->
  <!--</li>-->
  <!--<li class="next">-->
  <!--<a routerLink="../report-page">Вперед &rarr;</a>-->
  <!--</li>-->
  <!--</ul>-->
</div>
<footer class="container myfooter">
  <p class="float-right"><a href="#">Back to top</a></p>
  <p>© 2017 BDA-System, Inc</p>
</footer>



