table {
  font-family: 'Spectral SC', serif;
	width: 100%;
	margin-top: 50px;
  vertical-align: middle;
  border-left: 1px solid #dfe9e9;
  border-top: 2px solid #dfe9e9!important;
  border-bottom: 2px solid #dfe9e9!important;
}

th{
  font-family: 'Spectral SC', serif;
  vertical-align: middle;
  border-left: 1px solid #dfe9e9;
  border-top: 2px solid #dfe9e9!important;
  border-bottom: 2px solid #dfe9e9!important;
}

th:not(:first-child),
td:not(:first-child) {
  font-family: 'Spectral SC', serif;
	text-align: center;
  vertical-align: middle;
  border-left: 1px solid #dfe9e9;
  border-top: 2px solid #dfe9e9!important;
  border-bottom: 2px solid #dfe9e9!important;
}

.tableRow:hover{
  font-family: 'Spectral SC', serif;
	background-color: #C8C8C8;
}
