<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">BDA-System</h1>
      <p>СИСТЕМА ПРЕДНАЗНАЧЕНА ДЛЯ СРАВНЕНИЯ ОСНОВНЫХ
        ЭКОНОМИЧЕСКИХ ПОКАЗАТЕЛЕЙ БАНКОВ.</p>
    </div>
  </div>
  <div class="content_col">
    <div class="container">
      <p class="content_top">Мы специализируемся на разработке собственных программных продуктов для автоматизации деятельности банков и предприятий. Нашими продуктами пользуются более 30 банков и ведущие промышленные предприятия в странах СНГ.</p>
      <div class="client_box client_box_3 client_box_info text_center">
        <div class="client_box_list">
          <span class="client_box_item">
          <div class="text_center">
            <span class="icon_circle">
              <i><img src="./assets/img/11.jpg"></i>
            </span>
          </div>
            <span class="h3">Несколько лет работы </span>
              <span class="client_box_txt">Основана в 2017 году и сразу сфокусировалась на рынке банковских информационных технологий.</span>
              </span>
            <span class="client_box_item">
          <div class="text_center"><span class="icon_circle">
              <i><img src="./assets/img/12.jpg"></i>
            </span>
          </div>
              <span class="h3" href="#">50+ сотрудников </span>
                <span class="client_box_txt">Специалисты высокой квалификации реализуют задачи любой сложности.</span>
                </span>
                <span class="client_box_item">
                  <div class="text_center"><span class="icon_circle">
                    <i><img src="./assets/img/13.jpg"></i>
                  </span>
                  </div>
                  <span class="h3" href="#">5+ проектов </span>
                  <span class="client_box_txt">Нашими клиентами являются крупнейшие банки и предприятия различных отраслей экономики.</span>
                  </span>
              </div>
      </div>
    </div>
  </div>
</main>



